<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | ATC Simulator</title>
    <a href="{{ url_for('commands1') }}">Flight Departure Communications</a>
</head>
<body>
    <div class="menu">
        <h1>Air Traffic Control Communication Simulator</h1>
        <ul>
            <li><a href="{{ url_for('show_category', category='flight_departure') }}">Flight Departure Communications</a></li>
            <li><a href="{{ url_for('show_category', category='flight_landing') }}">Flight Landing Communications</a></li>
            <li><a href="{{ url_for('show_category', category='emergencies') }}">Emergencies</a></li>
            <li><a href="{{ url_for('show_category', category='miscellaneous') }}">Miscellaneous</a></li>
        </ul>
    </div>
</body>
</html>