<!DOCTYPE html>
<html>
<head>
    <title>Flights</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        header {
            background-color: #333;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        #map {
            height: 700px;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Flights Map</h1>
    </header>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        // Initialize the map
        var map = L.map('map').setView([20.0, 0.0], 2);  // Centered at the world

        // Set up the OSM layer
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        // Fetch flight data from the server
        fetch('/get_flights')
            .then(response => response.json())
            .then(data => {
                data.forEach(flight => {
                    var departureMarker = L.marker([flight.departure_lat, flight.departure_lon])
                        .bindPopup(`<b>${flight.airline} ${flight.flight_number}</b><br>Departure: ${flight.departure_city}`)
                        .addTo(map);
                    
                    var arrivalMarker = L.marker([flight.arrival_lat, flight.arrival_lon])
                        .bindPopup(`<b>${flight.airline} ${flight.flight_number}</b><br>Arrival: ${flight.arrival_city}`)
                        .addTo(map);

                    var latlngs = [
                        [flight.departure_lat, flight.departure_lon],
                        [flight.arrival_lat, flight.arrival_lon]
                    ];
                    
                    var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
                });
            });
    </script>
</body>
</html>
