<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>

<body class="background-image">

    <div class="main">
        <div class="content">
            <h1>GHOST<br><span>Air Traffic</span> <br>Control System</h1>

            <div class="form">
                <h2>Login Here</h2>
                <form action="{{ url_for('login') }}" method="POST" autocomplete="off" onsubmit="return validateLoginForm()">
                    <input type="text" name="id" placeholder="Enter ID Here" required autocomplete="off">
                    <input type="password" name="password" placeholder="Enter Password Here" required autocomplete="off">
                    <button class="btnn" type="submit">Login</button>
                </form>
                <div id="flashMessageContainer">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script>
        function scrollDown() {
            // Scroll to the bottom of the page
            window.scrollTo(0, document.body.scrollHeight);
        }

        function validateLoginForm() {
            const idField = document.querySelector('input[name="id"]');
            const passwordField = document.querySelector('input[name="password"]');
            let isValid = true;

            if (!idField.value) {
                idField.setCustomValidity('Please fill out this field.');
                idField.reportValidity();
                isValid = false;
            } else {
                idField.setCustomValidity('');
            }

            if (!passwordField.value) {
                passwordField.setCustomValidity('Please fill out this field.');
                passwordField.reportValidity();
                isValid = false;
            } else {
                passwordField.setCustomValidity('');
            }

            return isValid;
        }
    </script>
</body>

</html>