<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category.replace('_', ' ').title() }} | ATC Simulator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="menu">
        <h1>{{ category.replace('_', ' ').title() }}</h1>
        <ul>
            {% for subcategory in subcategories %}
            <li><a href="{{ url_for('show_subcategory', category=category, subcategory=subcategory) }}">{{ subcategory.replace('_', ' ').title() }}</a></li>
            {% endfor %}
        </ul>
        <a href="/">Back to Main Menu</a>
    </div>
</body>
</html>

