
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">

    <title>Chat Home</title>
   
</head>
<body>
    <div class="outer-container">
        <div class="container">
            <h2>Chat System</h2>
            <div class="role-selection">
                <p1>Select Role</p1>
                <a href="{{ url_for('chat', role='Pilot') }}" class="role-button">Pilot</a>
                <a href="{{ url_for('chat', role='ATC') }}" class="role-button">ATC</a>
            </div>
        </div>
    </div>
</body>
</html>
