<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flight Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Select a Flight</h1>
        <table>
            <thead>
                <tr>
                    <th>Flight ID</th>
                    <th>Flight Number</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in flights %}
                <tr>
                    <td>{{ flight['flight_id'] }}</td>
                    <td>{{ flight['flight_number'] }}</td>
                    <td><a href="{{ url_for('role_selection', flight_id=flight['flight_id']) }}">Select</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
